:root{
    --first-theme: linear-gradient(to bottom, #2c3e50, #2980b9);
    --second-theme: linear-gradient(to bottom, #239251, #2ecc71);
    --thirt-theme: linear-gradient(to bottom, #ff4757, #ff6b81);
    --primary-bg: #fff;
    --secondary-bg: #f7f7f7;
    --white-color: #fff;
    --dark-color: #222;
    --danger-color: #ff4757;
    --warning-color: #ffa502;
}